.footer {
  background-color: rgb(58, 5, 58);
  color: #ccc;
  padding: 60px 20px 30px;
  margin-top: 30px;
  font-family: "Segoe UI", sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto 40px;
}

.footer-col h3,
.footer-col h4 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.footer-col p {
  font-size: 18px;
  line-height: 1.6;
  color: #aaa;
  padding-bottom: 10px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
  font-size: 18px;
  color: #aaa;
}
.Quick-Links ul li {
  font-size: 20px;
}

.footer-col ul li a {
  color: #ccc;
  text-decoration: none;
  transition: all ease-in-out color 0.3s;
}

.footer-col ul li a:hover {
  color: #fff;
}

.footer-socials {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.footer-socials .icons ion-icon {
  color: white;
}

.footer-bottom {
  text-align: center;
  font-size: 16px;
  color: #666;
  border-top: 1px solid #222;
  padding-top: 20px;
}

@media screen and (max-width: 480px) {
  .footer-col h3,
  .footer-col h4 {
    font-size: 1.1rem;
  }
  .footer-col p {
    font-size: 14px;
  }
}
